# compiled source
*.mod
*.o
WAM/abs/*

# log files
*.log
*.err
*dayfiles/*
*wam_prot*


# configuration files
*keywordin

# temporary files
*.swp
*~

# Data fieles
*.DAT
*.nc
*BXX*
*BLS*

# Output data
*ready/*
*tempsg/*
*netcdf/*
*work/*
*binary/*

